# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Environments
.env
.venv
venv/
.envrc

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# Local caches
cache/
http_cache.sqlite
*.sqlite

# Training / evaluation outputs
checkpoints/
slurms/ 

# Data & artifacts
data/
*/data/
hr_extreme_npz/
*.npz
*.tar
*.nc
*.h5
*.pt
*.pth
*.ckpt

# Outputs
logs/
checkpoints/
outputs/ # for now we don't ignore
runs/
wandb/
mlruns/


tree.txt